<div class="container mx-auto bg-gray-50 min-h-screen p-8 antialiased" >
  <div *ngFor="let user of users">
     <div class="bg-gray-100 mx-auto border-gray-500 border rounded-sm text-gray-700 mb-0.5 h-30">
        <div class="flex p-3 border-l-8 border-green-600">
           <div class="space-y-1 border-r-2 pr-3">

           </div>
           <div class="flex-1">
              <div class="ml-3 space-y-1 border-r-2 pr-3">
                 <h1 class="text-base leading-6 font-normal">{{user.username}}</h1>


              </div>
           </div>

           <div>
              <div class="ml-3 my-5 bg-red-600 p-1 w-20" *ngIf="user.id" (click)="deleteUser(user.id)">
                 <div class="uppercase text-xs leading-4 font-semibold text-center  text-white">Delete</div>
              </div>
              <div class="ml-3 my-5 bg-blue-600 p-1 w-20" [routerLink]="'/users/userForm/'+ user.id">
                <div class="uppercase text-xs leading-4 font-semibold text-center  text-white">Update</div>
             </div>
           </div>
           <div>
              <button class="text-gray-100 rounded-sm my-5 ml-2 focus:outline-none bg-gray-500">
                 <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                 </svg>
              </button>
           </div>
        </div>
     </div>
  </div>
</div>
